.DS_Store
*.pyc
Rakefile

*.aux
*.log
*.out

# Files generated for/from Cython
PyDiffusion/_cython_interface.c
PyDiffusion/_cython_interface.h
PyDiffusion/_cython_interface.so
PyDiffusion/advance_one_step.mexa64
PyDiffusion/libadvanceonestep.so
